.theme.theme__experience
  a(href='ux-framework.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-UX-framework@2x.png")
    h4 UX framework
    p Provide a modern, responsive classroom design to guide students thorough their online coursework.
    h6 Complexity
    h5 High
    +arrow()
    small
      em Assumes a high level of technical support for one to many courses.
