.theme.theme__support
  a(href='live-chat.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-Live-chat@2x.png")
    h4 Live chat
    p Provide students an easier way to connect with existing chat support.
    h6 Complexity
    h5 Low
    +arrow()
    small
      em Assumes a chat support service exists.
