.theme.theme__support
  a(href='course-progress-tracker.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-Course-progress-tracker@2x.png")
    h4 Course progress tracker
    p Show students a clear summary of their course assessment status and responsibilities.
    h6 Complexity
    h5 High
    +arrow()
    small
      em Assumes integration with Blackboard student data for a single course.
