.theme.theme__understand
  a(href='safe-assign.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-safeassign@2x.png")
    h4 SafeAssign
    p Reduce the time faculty spend grading by streamlining their grading tools.
    h6 Complexity
    h5 Medium&ndash;High
    +arrow()
    small
      em Assumes a high level of technical support across an institution.
