.theme.theme__support
  a(href='private-communities.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-Private-communities@2x.png")
    h4 Private communities
    p Give students an online place to have discussions and conversations.
    h6 Complexity
    h5 Medium
    +arrow()
    small
      em Assumes a third party tool can be implemented for a single course.
