.theme.theme__understand
  a(href='blackboard-rubrics.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-blackboard-rubrics@2x.png")
    h4 Blackboard rubrics
    p Provide students and faculty visibility to assessment criteria alongside each assignment.
    h6 Complexity
    h5 Medium&ndash;High
    +arrow()
    small
      em Assumes a high level of technical support across an institution.
