.theme.theme__experience
  a(href='intro-emails.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-intro-emails@2x.png")
    h4 Intro emails
    p Introduce and connect students to their online learning experience before the course begins.
    h6 Complexity
    h5 Medium
    +arrow()
    small
      em Assumes access to student information and email system for a course.
