.theme.theme__understand
  a(href='calendaring.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-calendaring@2x.png")
    h4 Course calendar
    p Provide students visibility to due dates for their online learning responsibilities.
    h6 Complexity
    h5 Medium
    +arrow()
    small
      em Assumes a high level of technical support across a single course or institution.
