.theme.theme__experience
  a(href='change-management.'+locals.ext).callout
    figure
      img(src="assets/img/screenshots/Card-Change-management@2x.png")
    h4 Change management
    p Set student expectations and increase understanding of the benefits of a change.
    h6 Complexity
    h5 Low&ndash;Medium
    +arrow()
    small
      em Assumes ability to implement and edit HTML.
