section.category.theme__experience
  h2.alt-heading Remove friction for a great online experience
  p.summary An intuitive online learning experience enables students to spend their time focused on learning the course material.
  .row
    .medium-6.columns
      include callout-intro-emails.pug
    .medium-6.columns
      include callout-ux-framework.pug
  .row
    .medium-6.columns.end
      include callout-change-management.pug
