section.category.theme__support
  h2.alt-heading Help students feel more supported
  p.summary When students are supported, they perform well and feel encouraged. When students know what’s due and when, they are more likely to complete their assignments.
  .row
    .medium-6.columns
      include callout-live-chat.pug
    .medium-6.columns
      include callout-private-communities.pug
  .row
    .medium-6.columns.end
      include callout-course-progress-tracker.pug
