section.category.theme__understand
  h2.alt-heading Meet users where they are
  p.summary Students' and faculty's expectations of how online tools should work are influenced by tools from across their personal and professional digital lives.
  .row
    .medium-6.columns
      include callout-safe-assign.pug
    .medium-6.columns
      include callout-blackboard-rubrics.pug
  .row
    .medium-6.columns.end
      include callout-calendaring.pug
