.callout.dark-callout.dark-callout__section.text-center.interest-form
  br
  p
    a.button.interest-form--current(href="javascript:void(0);") I&rsquo;m interested in this solution
  .interest-form--form.u-hidden
    h4 Are you also interested in these other solutions?
    form.text-left
      .row
        fieldset.medium-6.columns
          h5.blue Help students feel more supported
          label
            input(type='checkbox', value="Live chat")
            span Live chat
          label
            input(type='checkbox', value="Private communities")
            span Private communities
          label
            input(type='checkbox', value="Course progress tracker")
            span Course progress tracker
        fieldset.medium-6.columns
          h5.purple Remove friction for a great online learning experience
          label
            input(type='checkbox', value="Intro emails")
            span Intro emails
          label
            input(type='checkbox', value="UX framework")
            span UX framework
          label
            input(type='checkbox', value="Change management")
            span Change management
      .row
        fieldset.medium-6.columns
          h5.brown Meet users where they are
          label
            input(type='checkbox', value="SafeAssign")
            span SafeAssign
          label
            input(type='checkbox', value="BlackBoard rubrics")
            span Blackboard rubrics
          label
            input(type='checkbox', value="Course calendar")
            span Course calendar
      .row
        fieldset.medium-6.columns
          label
            input.interest-form--check-all(type='checkbox')
            strong All of these

    p
      button(type="button").button.interest-form--multiple Send my interests
